body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
}

hr {
  border-style: none;
}

hr {
  width: 5%;
}

hr {
  border-top-style: dotted;
}

hr {
  border-color: grey;
}

hr {
  border-width: 5px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

a {
  color: #1A4D2E;
}
